.mobile_toggle{
    width:30px;
    display: inline-block;
}
.mobile_toggle span{
    height: 3px;
    background: #1a4085;
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    float: left;
}
.mobile_nav{
    position: absolute;
    right:20px;
    bottom:15px;
}